<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Raye7 OpenWeatherMap task</li>
  </ol>
</nav>
<div class="container-fluid">
  <!-- Content here -->
  <div class="row">
    <div class="col-sm-3">
      <h4>Select City</h4>
      <select class="location-ajax"></select>
      <div id="owm_result"></div>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <% @result.each do |res| %>
          <div class="city_card col-sm-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= res["name"] %> - <%= res["sys"]["country"] %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= res["main"]["temp"] %>&deg;C</h6>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Pressure: <span class="badge badge-primary"><%= res["main"]["pressure"] %></span></li>
                <li class="list-group-item">Humidity: <span class="badge badge-success"><%= res["main"]["humidity"] %></span></li>
                <li class="list-group-item">Wind Speed: <span class="badge badge-info"><%= res["wind"]["speed"] %></span></li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
