<% if @data.present? %>
<hr>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @data[:name] %> - <%= @data[:country_code] %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @data[:owm_weather]["temp"] %>&deg;C</h6>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Pressure: <span class="badge badge-primary"><%= @data[:owm_weather]["pressure"] %></span></li>
    <li class="list-group-item">Humidity: <span class="badge badge-success"><%= @data[:owm_weather]["humidity"] %></span></li>
    <li class="list-group-item">Wind Speed: <span class="badge badge-info"><%= @data[:owm_wind]["speed"] %></span></li>
  </ul>
</div>
<% if @data[:near_weather] %>
<hr>
<div class="alert alert-info" role="alert">
  Please note that, this's the weather for the same geographical area of the city you choose
</div>
<% end %>
<% else %>
<div class="alert alert-warning" role="alert">
  <%= @msg %>
</div>
<% end %>
